# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/
**/node_modules/

# Builds y compilaciones
dist/
dist-ssr/
build/
.out/
.next/
.cache/

# Variables de entorno y configuración local
*.local
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Archivos específicos de editores de código
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma (ORM en Backend)
prisma/migrations/

# Dependencias generadas
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de TypeScript que no son necesarios
*.tsbuildinfo
tsconfig.tsbuildinfo

# Archivos del sistema operativo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
