.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  color: white;
}

.auth-box {
  background-color: #444444;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.auth-box h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.auth-box p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555555;
}

.auth-box p span {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.social-login {
  margin-bottom: 20px;
}

.social-login .social-icons img {
  width: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.terms {
  font-size: 0.75rem;
}

.terms a {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}
